// output:index.html
doctype html
html
  head
    meta(charset='utf-8')
    link(href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='style.min.css')
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:200,100', rel='stylesheet', type='text/css')
    title trololo
  body
    nav
      a Torty
      a Informacie
      a Kontakt
      a neviem co
    .a_border
    .page
      .pic_1#first_pic
      .scroll_trigger
      .right_text.scroll_trigger2
        .right_sheet
        h1 MARCIPANOVÉ TORTY
        p Random paragraph over here
        p please insert your text becouse im mad
        a
          .button
            span viac
    .page
      .pic_1
      .scroll_trigger
      .right_text.scroll_trigger2
        .right_sheet 	
        h1 MARCIPANOVÉ TORTY
        p Tento virtualny cancer sa mi nepaci
        p pretoze je o nicom
        a
          .button
            span viac
    .page
      .pic_1
      .scroll_trigger 	
      .right_text.scroll_trigger2
        .right_sheet
        h1 MARCIPANOVÉ TORTY
        p vazne Dzony...
        p pisanie niektorych veci v jade je RIP
        a
          .button
            span viac
  script(src='../lib/jquery-3.1.1.min.js')
  script(src='jscript.js')
